[Unit]
Description=Refresh motd data every day from 01:00

[Timer]
OnCalendar=*-*-* 01:00:00
Unit=motd_update.service
RandomizedDelaySec=120m
AccuracySec=1s

[Install]
WantedBy=multi-user.target
