
  _____ ___   ___ ___   _   ___
 |_   _| _ \ |_ _/ __| /_\ | _ \
   | | |  _/  | | (__ / _ \|  _/
   |_| |_|   |___\___/_/ \_\_|

WARNING!
This system including all related equipment, network devices and internet access (the "System") is restricted to authorised use only. By using the System, you agree that you are authorised to do so. if you are not authorised to use the System, you must discontinue any use of the System immediately. Unauthorized use, or misuse, of the System is a violation of applicable laws, regulations and policies and may subject you to criminal prosecution.
Use of the system, and all information (including personal information) placed or sent over the System, is subject to monitoring, recording and investigation, and may be used for any purpose. Your use of the System, authorised or unauthorised, constitutes your consent to such.
